<%= form_for(@vertical) do |f| %>
  <% if @vertical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vertical.errors.count, "error") %> prohibited this vertical from being saved:</h2>

      <ul>
      <% @vertical.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first %><br>
    <%= f.text_field :first %>
  </div>
  <div class="field">
    <%= f.label :last %><br>
    <%= f.text_field :last %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <%= button_to "Delete All", {:controller=>"verticals", :action => "delete_all"}, :method=>"delete", :onclick => "return confirm('Are you sure?')" %>
  </div>
<% end %>
