<%= form_for(@melo) do |f| %>
  <% if @melo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@melo.errors.count, "error") %> prohibited this melo from being saved:</h2>

      <ul>
      <% @melo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first %><br>
    <%= f.text_field :first %>
  </div>
  <div class="field">
    <%= f.label :last %><br>
    <%= f.text_field :last %>
  </div>
  <div class="field">
    <%= f.label :minutes %><br>
    <%= f.number_field :minutes %>
  </div>
  <div class="field">
    <%= f.label :seconds %><br>
    <%= f.number_field :seconds %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
