<%= form_for(@control) do |f| %>
  <% if @control.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@control.errors.count, "error") %> prohibited this control from being saved:</h2>

      <ul>
      <% @control.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first %><br>
    <%= f.text_field :first %>
  </div>
  <div class="field">
    <%= f.label :last %><br>
    <%= f.text_field :last %>
  </div>
  <div class="field">
    <%= f.label :minutes %><br>
    <%= f.number_field :minutes %>
  </div>
  <div class="field">
    <%= f.label :seconds %><br>
    <%= f.number_field :seconds %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</br>
</br>
</br>
<%= button_to "Delete All Controls", delete_all_controls_path, :method => :delete, :remote => true, data: { confirm: "Are you sure you want to DELETE ALL Control Scores?" } %>
</br>
</br>
</br>
