<%= link_to 'New High score', new_high_score_path %>

<h1>Listing high_scores</h1>

<div id="scoreboard">
<table>
  <thead>
    <tr>
      <th style="padding-right:30px;">First</th>
      <th style="padding-right:30px;">Last</th>
      <th style="padding-right:30px;">Email</th>
      <th style="padding-right:30px;">Time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @high_scores.each do |high_score| %>
      <tr>
        <td style="font-size:20pt;"><%= high_score.first %></td>
        <td style="font-size:20pt;"><%= high_score.last %></td>
        <td style="font-size:20pt;"><%= high_score.email %></td>
        <td style="font-size:20pt;"><%= "#{high_score.minutes}:#{sprintf '%02d', high_score.seconds}" %></td>
        <td style=font-size:50px;padding:10px;><%= link_to 'Show', high_score %></td>
        <td style=font-size:50px;padding:10px;><%= link_to 'Edit', edit_high_score_path(high_score) %></td>
        <td style=font-size:50px;padding:10px;><%= link_to 'Destroy', high_score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

