<%= form_for(@cp3) do |f| %>
  <% if @cp3.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cp3.errors.count, "error") %> prohibited this cp3 from being saved:</h2>

      <ul>
      <% @cp3.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first %><br>
    <%= f.text_field :first %>
  </div>
  <div class="field">
    <%= f.label :last %><br>
    <%= f.text_field :last %>
  </div>
  <div class="field">
    <%= f.label :minutes %><br>
    <%= f.number_field :minutes %>
  </div>
  <div class="field">
    <%= f.label :seconds %><br>
    <%= f.number_field :seconds %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</br>
</br>
</br>
<%= button_to "Delete All CP3 Scores", delete_all_cp3s_path, :method => :delete, :remote => true, data: { confirm: "Are you sure you want to DELETE ALL CP3 Scores?" } %>
</br>
</br>
</br>
