<p id="notice"><%= notice %></p>

<p>
  <strong>First:</strong>
  <%= @cp3.first %>
</p>

<p>
  <strong>Last:</strong>
  <%= @cp3.last %>
</p>

<p>
  <strong>Minutes:</strong>
  <%= @cp3.minutes %>
</p>

<p>
  <strong>Seconds:</strong>
  <%= @cp3.seconds %>
</p>

<%= link_to 'Edit', edit_cp3_path(@cp3) %> |
<%= link_to 'Back', cp3s_path %> |
<%= link_to 'Create', new_cp3_path %>
