<div id="header">
  <div id="logo"><a href="/"><%= image_tag 'jumpman_black.png' %></a></div>
  <div id="title">
    <h2><%= @title %></h2>
  </div>
</div>
<div class="clearboth"></div>
<div id="high_scores" style="height: 1500px">
  <div id="scoreboard" style="padding-top: 20%">
    <table width="99%" border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <% @high_scores[0..9].each_with_index do |high_score, index| %>
          <tr>
            <th style="padding-bottom:3%;padding-top:3%" scope="col" align="center" valign="middle" width="144"><%= index+1 %></th>
            <th scope="col" align="center" valign="middle" width="190"></th>
            <th scope="col" align="left" valign="middle" width="637">
              <%= "#{high_score.first} #{high_score.last}" %></th>
            <th scope="col" align="left" valign="middle" width="637">
              <%= "#{high_score.team}" %></th>
            <th scope="col" align="center" valign="middle" width="132"> 
              <%= "#{high_score.minutes}:#{sprintf '%02d', high_score.seconds}" if high_score.seconds %></th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div> <!-- End Slider -->
</div>
